/* Hololink highlight Style */

.hololink-highlight {
    background-color: #FFE04C;
    transition: all 0.1s;
    cursor: pointer;
}

.hololink-highlight.hovered {
    background-color: #CDD7FB;
    transition: all 0.1s;
    cursor: pointer;
}
