.hololink-toolbar-container {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    display: flex;
    width: 100px;
    height: 30px;
    flex-direction: row;
}

.toolbar-button{
    border: none;
    background-color: white;
}