.hololink-tooltip {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    background:-webkit-gradient(linear, left top, left bottom, from(#2e88c4), to(#075698));
    justify-content: center;
}